@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

:root {
    --cor01: #262626;
    --cor02: #8C8C8C;
    --cor03: #BFBFBF; 
    --cor04: #F2F2F2;
    --cor05: #3873A6;
    --fonteprincipal: "Bebas Neue", sans-serif;
}
 
html, body {
    min-height: 100vh;
    background-color: var(--cor02);
}

header {
    background-color: var(--cor05);
    color: var(--cor04);
    text-align: center;
}

header h1 {
    font-size: 50px;
    font-family: var(--fonteprincipal);
    padding: 50px;
    padding-bottom: 0px;
    
}

header p {
    padding-bottom: 50px;
    padding-top: 0px;
}

a {
    color: var(--cor04);
    text-decoration: none;
    font-weight: bolder;
}

a:hover {
    text-decoration: underline;
}

footer {
    background-color: var(--cor05);
    color:#F2F2F2;
    text-align: center;
    padding: 10px;
    min-height: 50px

}