@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    /height: 100%;
}

body { background-image: linear-gradient(to right, #026773,#024959);

}

main {
    background-color: white;
    border-radius: 16px;
    box-shadow: 5px 5px 15px #003a52;
    width: 600px;
    padding: 10px;
    margin: auto
}
h1 {
     color: #257c7c;
     text-align: center;
     text-shadow: 1px 1px 2px b#1a857f;
}

h2 {
     color: #135988ad;
}

p {
    text-align: justify;
}