* {
  box-sizing: border-box;
  height: auto; }


.conteiner {
  position: relative;
  background-color: rgb(255, 135, 135);
  margin: auto;
  margin-top: 10%;
  border: 2px solid black;
  box-shadow: 5px 5px 30px 5px #000000;
  border-radius: 100%;
  height: 1000px;
  width: 1000px;
  
}

.conteudo {
  position: absolute;
  background-color: rgb(252, 111, 111);
  border: inset2px solid black;
  box-shadow: 5px 5px 30px 5px #000000;
  height: 500px;
  width: 500px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.conteudopq {
  background-color: rgb(255, 90, 90);
  height: 250px;
  width: 250px;
  border: 2px solid black;
  box-shadow: 5px 5px 30px 5px #000000;
  position: absolute;
  border-radius: 100%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.conteudopq1 {
  background-color: rgb(250, 60, 60);
  height: 125px;
  width: 125px;
  border: 2px solid black;
  box-shadow: 5px 5px 30px 5px #000000;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.conteudop0 {
  background-color: rgb(250, 24, 24);
  height: 62.5px;
  width: 62.5px;
  border: 2px solid black;
  box-shadow: 1px 1px 30px 1px #000000;
  position: absolute;
  border-radius: 100%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.cont {
  background-color: rgb(255, 9, 9);
  height: 31.25px;
  width: 31.25px;
  border: 2px solid black;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.contt {
  background-color: rgb(255, 0, 0);
  height: 15.625px;
  width: 15.625px;
  border: 2px solid black;
  position: absolute;
  border-radius: 100%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.conte {
  background-color: rgb(255, 255, 255);
  height: 7.8125px;
  width: 7.8125px;
  border: 2px solid black;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.contee {
  background-color: rgb(0, 0, 0);
  height: 1.953125px;
  width: 1.953125px;
  border: 2px solid black;
  position: absolute;
  border-radius: 100%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
