* {
  box-sizing: border-box;
}

.conteiner {
  position: relative;
  background-color: lightcoral;
  margin: auto;
  margin-top: 100px;
  border: 2px solid black;
  box-shadow: inset 5px 5px 30px 5px #000000; 
  height: 1000px;
  width: 1000px;
  padding: 10px;
  background-size: 100% 100%;
}

.conteudo {
  position: absolute;
  background-color: rgb(34, 160, 34);
  border: inset2px solid black;
  box-shadow: inset 5px 5px 30px 5px #000000; 
  height: 500px;
  width: 500px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.conteudopq {
  background-color: blue;
  height: 250px;
  width: 250px;
  border: 2px solid black;
  box-shadow: inset 5px 5px 30px 5px #000000; 
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.conteudopq1 {
  background-color: chocolate;
  height: 125px;
  width: 125px;
  border: 2px solid black;
  box-shadow: inset 5px 5px 30px 5px #000000; 
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.conteudop0 {
  background-color: rgb(185, 37, 185);
  height: 62.5px;
  width: 62.5px;
  border: 2px solid black;
  box-shadow: inset 5px 5px 30px 5px #000000; 
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
