@charset "UTF-8";

@font-face {
  font-family: "Rigid";
  src: url("Fonts/Rigid\ Display\ Medium.ttf") format("truetype");
}

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');


:root {
  --cor1: #F2F2F2;
  --cor2: #A6A6A6;
  --cor3: #737373;
  --cor4: #404040;
  --cor5: #0D0D0D;

  --fonte-padrao: 'Rigid';
  --fonte-base: "Bebas Neue", sans-serif;

}


* {
  font-family: 'Rigid';
  text-decoration: none;
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
  list-style: none;
}

body { 
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #F2F2F2
  
}

.logo {
padding-top: 50px;


}

header {
  background-color: black;
  padding-bottom: 16px;
  box-shadow: 1px 5px 100px #0000009f;
}


header > a {
  display: block;
  color: white;
  font-size: 100px;
  text-align: center;
  padding-top: 100px;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 33px;
}


li {
  margin-left: 10px;
  display: inline-block
  
}


li a {
color: rgb(0, 0, 0);
font-size: 12px;
margin-right: 20px;
padding-left: 10px;
background-color: rgba(255, 255, 255, 0.767);
border-radius: 6px;
padding: 5px;
}


li a:hover {
  color: rgb(134, 134, 134);

}

.descrição {
  font-family: var(--fonte-base);
  color: #737373;
  box-sizing: border-box;
  padding-top: 9px;
}

.descrição2 {
font-family: var(--fonte-base);
color: #737373;

}

h2 {

  padding-top: 50px;
  padding-left: 50px;
}

  