@charset "UTF-8";

@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

@font-face {
  font-family: "android";
  src: url("../fontes//idroid.otf") format("opentype");
  font-weight: normal;
}

:root {
  --cor0: #d4a7e8;
  --cor1: #554a93;
  --cor2: #b46da0;
  --cor3: #5a576b;
  --cor4: #35343e;

  --fonte-padrao: Arial, verdana, Helvetica, sans-serif;
  --fonte-destaque: "Bebas Neue", sans-serif;
  --fonte-android: "android", sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--cor0);
  background-image: linear-gradient(315deg, var(--cor2) 0%, var(--cor0) 74%);
}

header {
  background-color: var(--cor4);
  min-height: 130px;
  text-align: center;
  padding-top: 40px;
  background-image: linear-gradient(to bottom, var(--cor4) 0%, var(--cor0) 100%);
}

header > h1 {
  font-family: var(--fonte-destaque);
  font-size: 3em;
  color: white;
  margin-bottom: 10px;
}

header p {
  font-family: var(--fonte-padrao);
  font-size: 1.2em;
  color: white;
  max-width: 600px;
  padding-left: 10px;
  padding-right: 10px;
  margin: auto;
}

nav a {
  font-family: var(--fonte-destaque);
  color: var(--cor3);
}

main {
  min-width: 320px;
  max-width: 800px;
  margin: auto;
  margin-bottom: 25px;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.377);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

main img {
  max-width: 100%;
}

main img.pequena {
  margin: auto;
  display: block;
  width: 50%;
}
main h1 {
  font-family: var(--fonte-android);
  color: var(--cor2);
}

main h2 {
  font-family: var(--fonte-android);
  color: var(--cor2);
}

footer {
  background-color: var(--cor4);
  color: white;
}
footer a {
  color: var(--cor0);
}

aside h2 {
  font-family: var(--fonte-android);
  color: var(--cor2);
}
